" naftuli's personal vim configuration
" -----------------------------------------------------------------------------

" load plugs
source $HOME/.config/nvim/plugs.nvim

" load local configuration first
{% for config in config_files | sort %}
source $HOME/.config/nvim/config/{{ config }}
{% endfor %}

" load per-plug configuration last
{% for plug_config in plug_config_files | sort %}
source $HOME/.config/nvim/config/plugs/{{ plug_config }}
{% endfor %}
