" naftuli's personal vim configuration
" -----------------------------------------------------------------------------

" load local configuration
{% for config in config_files %}
source $HOME/.config/nvim/config/{{ config }}
{% endfor %}

" load plugs
source $HOME/.config/nvim/plugs.nvim

" load plug configuration
{% for plug in plug_config_files %}
source $HOME/.config/nvim/config/plugs/{{ plug }}
{% endfor %}
